@page "/"
<PageTitle>Home</PageTitle>



<!-- Upcoming Events Section -->
<div class="container-fluid text-center additional-container">
    <div class="row text-left">
        <div class="additional-text">
            <h111>Upcoming Events</h111>
        </div>
    </div>

    <div class="row justify-content-center-first image-section">
        <!-- Container for Image and Text -->
        <div class="col-md-4">
            <div class="custom-container-first text-center">
                <img src="/images/Events.jpeg" alt="Event Image" class="img-fluid custom-image-first" />
                <div class="blue-panel">
                    <span class="panel-text">26 june 2024</span> 
                </div>
                <div class="custom-text">
                    <h55>Event Title</h55>
                    <p>Lorem ipsum dolor sit amet consectetur. Purus arcu lobortis feugiat sagittis. Duis Purus arculeugiat sagittis. Duis Purus </p>
                    <a href="#" class="learn-more">View Event</a>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Previous Events Section -->
<div class="container-fluid text-center additional-container">
    <div class="row text-left">
        <div class="additional-text">
            <h111>Previous Events</h111> 
        </div>
    </div>

    <div class="row justify-content-center image-section">
        <!-- First Container for Image and Text -->
        <div class="col-md-4">
            <div class="custom-container-first text-center">

                <img src="/images/p22.jpeg" alt="Event Image" class="img-fluid custom-image-first" />
                <div class="blue-panel">
                    <span class="panel-text">26 june 2024</span> 
                </div>
                <div class="custom-text">
                    <h55>Event Title</h55> 
                    <p>Lorem ipsum dolor sit amet consectetur. Purus arcu lobortis feugiat sagittis. Duis purus arcu lobortis feugiat sagittis.</p>
                    <a href="#" class="learn-more">View Event</a>
                </div>
            </div>
        </div>

        <!-- Second Container for Image and Text -->
        <div class="col-md-4">
            <div class="custom-container-first text-center">
                <img src="/images/Events.jpeg" alt="Event Image" class="img-fluid custom-image-first" />
                <div class="blue-panel">
                    <span class="panel-text">26 june 2024</span> <!-- Change "Event Info" to desired text -->
                </div>
                <div class="custom-text">
                    <h55>Event Title</h55>
                    <p>Lorem ipsum dolor sit amet consectetur. Purus arcu lobortis feugiat sagittis. Duis purus arcu lobortis feugiat sagittis.</p>
                    <a href="#" class="learn-more">View Event</a>
                </div>
            </div>
        </div>

        <!-- Third Container for Image and Text -->
        <div class="col-md-4">
            <div class="custom-container-first text-center">
                <img src="/images/p33.jpeg" alt="Event Image" class="img-fluid custom-image-first" />
                <div class="blue-panel">
                    <span class="panel-text">26 june 2024</span> 
                </div>
                <div class="custom-text">
                    <h55>Event Title</h55>
                    <p>Lorem ipsum dolor sit amet consectetur. Purus arcu lobortis feugiat sagittis. Duis purus arcu lobortis feugiat sagittis.</p>
                    <a href="#" class="learn-more">View Event</a>
                </div>
            </div>
        </div>
    </div>
</div>




